[Unit]
Description=InkyWall App
After=network-online.target
Wants=network-online.target

[Service]
User=root
RuntimeDirectory=inkywall
WorkingDirectory=/run/inkywall
ExecStart=/usr/local/bin/inkywall -d
Restart=on-failure
RestartSec=15
KillSignal=SIGINT
StandardOutput=journal
StandardError=journal
Environment="PROJECT_DIR=/path/to/project"

[Install]
WantedBy=multi-user.target
